<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%=title%></title>
  <id><%=url%></id>
<%
  if (articles.length > 0) {
    var updatedDate = articles[0].rawDate,
        updatedDateStr = updatedDate.toISOString();
%>
  <updated><%=updatedDateStr%></updated>
<%
  }
%>
  <author>
    <name><%=author%></name>
  </author>

<%
  articles.forEach(function (article) {
%>
  <entry>
    <title><%=article.title%></title>
    <link rel="alternate" href="<%=article.url%>"/>
    <id><%=article.url%></id>
    <published><%=article.rawDate.toISOString()%></published>
    <updated><%=article.rawDate.toISOString()%></updated>
    <author>
      <name><%=author%></name>
    </author>
    <summary type="html"><%=article.summary%></summary>
    <content type="html"><%=article.content%></content>
  </entry>
<%
  });
%>
</feed>